apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: notebook
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: notebook
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: dockercap123/notebook-frontend:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: VITE_API_BASE
              value: "http://backend.notebook.svc.cluster.local:8000"
          ports:
            - containerPort: 80
